body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.resume {
  max-width: 800px;
  background-color: #ffdfdd;
  margin: 10px auto;
  box-shadow: 10px 10px 100px #ffdfdd;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.header h4 {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #98d5df;
  color: #ffffff;
}

.header img {
  width: 200px; /* Adjust the width to your preferred size */
  height: 200px;
  border-radius: 50%;
}

.heading {
  flex: 1;
  padding-left: 10px;
}

.heading h1 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: bold;
  color: #2c3e50;
}

.heading p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #2c3e50;
}

.contact-info {
  text-align: left;
}

.contact-info h4 {
  margin-bottom: 10px;
  color: #2c3e50;
}

.contact-info p {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 14px;
  color: #2c3e50;
}

.contact-info a {
  color: #0d2fd8a6;
  text-decoration: none;
}

.links {
  padding-top: 5px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.left-column,
.right-column {
  flex: 1;
  padding: 5px;
}

.left-column h4,
.right-column h4 {
  color: #e1574d;
  border-bottom: 2px solid #e1574d;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.left-column span,
.right-column span {
  background-color: #ffdfdd;
  border-radius: 10px;
  padding: 0 4px 0 4px;
}

.left-column p,
.right-column p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: justify;
}

.left-column ul,
.right-column ul {
  list-style-type: none;
  padding: 0;
}

.left-column ul li,
.right-column ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.sub-ed p {
  margin: 0;
}

.left-column ul li::before,
.right-column ul li::before {
  content: "\2022";
  color: #e1574d;
  position: absolute;
  left: 0;
}

li {
  font-size: 14px;
  text-align: justify;
}
